* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.logo {
    font-family: 'Open Sans', sans-serif; 
}
nav {
    background-color: #42c3a0;
    height: 80px;
    width: 100%;
}
label.logo {
    color: f8f8f8;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;

}
nav ul li {
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a {
color: #f8f8f8;
font-size: 17px;
text-transform: uppercase;
padding: 7px 13px;
border-radius: 3px;
}
a.active,a:hover {
background-color: #f4c430;
transition: 0.5s;
}